.DeltaListeners {
    opacity: 75%;
}

.NegativeDeltaListeners {
    color: #f84d33
}

.PositiveDeltaListeners {
    color: #4fca64
}

.RecentAlbumIcon {
    scale: 2;
    padding-left: 5px;
}

.PositionIndex {
    padding-right: var(--ym-spacer-size-xs);
}

.PositionIndex_dragAndDrop {
    transition: opacity 0.2s ease;
    z-index: 111;
    padding-left: 5px;
}

.DragAndDrop_positionIndex {
    position: absolute;
}

.PositionIndex_dragAndDrop:hover {
    opacity: 0;
}

.MorePlaylistsFromUserModal {
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MorePlaylistsFromUserModal_modal {
    position: static;
    padding: 20px;
    height: auto !important;
    width: auto !important;
}

.MorePlaylistsFromUserModal_button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: var(--ym-controls-color-primary-default-enabled, #ffcc00);
    cursor: pointer;
    font-weight: bold;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.aiGeneratedContainer {
    display: flex;
    align-items: center;
}

.betterInfoSpan {
    flex-wrap: wrap !important;
    display: flex !important;
}

[data-test-id="PLAYLIST_HEADER_UPDATED_TEXT"] {
    display: flex;
}

.artistHeaderGap {
    display: grid;
    gap: 5px;
}

.VideoArtistBanner {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.PageHeaderBase_root__xMIBu {
    z-index: 1;
}

.PageHeaderArtist_root__QhL_a:has(.VideoArtistBanner) {
    position: relative;
    display: flex;
}

.PlaylistDateNode {
  position: absolute;
  right: 18rem;
  width: 8rem;
  text-align: right;
  white-space: nowrap;
  overflow: clip;
}

.TrackPlaylist_controlsBarCell__6clda:has(> .PlaylistDateNode) {
  flex: 0 0 26rem;
  justify-content: flex-end; 
  position: relative;
}

.BetterInfo_infoSplit:before {
    background-color: var(--ym-controls-color-primary-text-enabled);
    border-radius: var(--ym-radius-size-round);
    content: '';
    height: 0.25rem;
    margin-block-end: var(--ym-spacer-size-xxxs);
    margin-inline-end: var(--ym-spacer-size-m);
    margin-inline-start: var(--ym-spacer-size-m);
    width: 0.25rem;
    display: inline-block;
}